<h1 id="index-title">OUTFIT HUNT</h1>

<div class="center" style="width: 60vw;">
	
	<div class="text-left">
		<h4>【關於我們】</h4>
		我們十分重視您的隱私權保護，將依個人資料保護法及本隱私權政策蒐集、處理及利用您的個人資料，並提供您對個人資料權利之行使與保護。	
		<br><br>			
		<h4>【本隱私權政策適用之範圍】</h4>
		本隱私權政策及其所包含之告知事項，僅適用於OUTFIT HUNT所擁有及經營的網站。本網站內可能包含許多連結、或其他合作夥伴所提供的服務，各連結網站或合作夥伴網站的隱私權聲明及與個人資料保護有關之告知事項，請參閱該連結網站或合作夥伴網站。	
	</div>
	
	<%= link_to "回上頁", :back, class: "btn btn-next", style: "margin-top: 2em;"%>

</div>



<script type="text/javascript">
	$('#logo').hide();
</script>