<h1 id="index-title">OUTFIT HUNT</h1>

<div class="center" style="width: 100%">
	
	<div class="about text-left" style="width: 70%">
		<h4>【關於outfit hunt】</h4>
		outfit hunt是一個讓妳用現有衣服找穿搭的實用APP，如果妳有一件／很多件不知該怎麼搭配的衣服，outfit hunt透過精準的服裝掃描分析技術搭配最流行、最潮的穿搭達人組合，將會幫妳解決不知該搭什麼的煩腦，用現有的衣服就能讓穿搭天天都不無聊。
	</div>
</div>

<%= render partial: '/icon' %>

