
<div id="rwd-frame">
	<div id="main">
		
		<section id="message">
			<p class="text-center">
				自在、亮麗<br>
				從選對衣服開始
			</p>
		</section>

		<section class="upload">
			<div id="content" class="text-center">
				<%= form_for @photo do |f| %>
					<%= render partial: 'form_errors', locals: { :f => f } %>
					<div id="photo_upload"></div>
					<div class="middle">
						<p>上傳您想搭配的衣物</p>
					  <%= f.file_field :img %>
					  <br><br>
				  	<%= f.submit  "送出", class: "btn btn-warning" %>
						<div class="bg-block col-xs-12"></div>
					</div>

				<% end %>
			</div>
		</section>

	</div>
</div>



