<script type="text/javascript">
	$('#logo').hide();
</script>

<div id="index-quote">
	<h4>“閒置衣物是女人衣櫥最大的敵人”</h4>
	<small>by R. LaBerrari</small>
</div>

<div id="welcome-message">
	<h1 id="index-title">OUTFIT HUNT</h1>
	<h2>發現衣服更多實用穿法</h2>
</div>

<div class="action">
	<h5>↓  立刻免費試用  ↓</h5>
	<%= link_to "上傳衣服", new_photo_path, class: "btn btn-next" %>	
</div>

<%= render partial: '/icon' %>
