<script type="text/javascript">
	$('#logo').hide();
</script>

<div id="index-quote">
	<h4>“閒置衣服是女人衣櫥最大的敵人”</h4>
	<small>by R. LaBerrari</small>
</div>

<div id="welcome-message">
	<h1 id="index-title" style="margin-bottom: 0px; ">OUTFIT HUNT</h1>
	<h2 style="margin-top: 0px">發現衣服更多實用穿法</h2>
</div>


<%= link_to "上傳衣服", new_photo_path, class: "btn btn-next", style: "margin-top: 2em; " %>	


