

<div style="text-align: center">
	
<br><br><br><br>
	<section id="main">
		<div style="text-align: center">
			<p>有任何衣服不知如何穿搭嗎？</p>
			<p>我們幫你找！</p>
		</div>
	</section>
<br><br>
	<section>
		<div id="photo_upload" style="border: solid 1px #ccc; width: 40%;display: inline-block;">
			在這裡上傳照片
			<br>
			<br>
			<%= form_for @photo, html: { multipart: true } do |form| %>
			  <%= form.file_field :img %>
			  <%= submit_tag  "送出" %>
			<% end %>
			<br><br><br>
		</div>
		<div id="photo_upload" style="border: solid 1px #ccc; width: 40%; display: inline-block;">
			在這裡顯示照片
			<br><br><br><br><br>
		</div>
	</section>
	<br>
	<br>	
	<section style="text-align: center">
		<input type="email" id="exampleInputEmail1" placeholder="Email">
		
	</section>

</div>