<h1 id="index-title">OUTFIT HUNT</h1>


<div id="welcome-message">
	<h3 style="margin-bottom: 0px">你的衣櫃裡是不是也有一件</h3>
	<h2 style="margin-top: 0px">不知該怎麼搭配的衣服？</h2>
	<h4 style="margin-top: 1em; margin-bottom: 1em">Outfit Hunt 幫你找！</h4>
	<%= link_to "START", new_photo_path, class: "btn btn-next" %>	
</div>


