<%= render partial: 'photos/step' %>
<header class="thanks">
  <h1>已完成</h1>
  <h4>Good Job!</h4>
</header>

<section class="thanks-notes">
  <h4>
    謝謝<br>
    屬於妳的穿搭日報<br>
    將寄送至<br>
  </h4>
  <h4><%= @asker.email %></h4>
  <p>by Outfit Hunt</p>
</section>

<div style="margin-top: 40px;">
  <%= link_to "繼續上傳衣服", new_asker_photo_path(@asker), class: "btn btn-next" %>
  <%= link_to image_tag("fb-link.png", style: "width: 100px; border: 1px solid #ccc"), "https://www.facebook.com/Outfit-Hunt-175436486240381/",  target: "_blank" %>
</div>

<script>
  $('.step2').removeClass('step-off').addClass('step-on')
  $('.step3').removeClass('step-off').addClass('step-on')
</script>