<div class="step-icons-small pull-left">
  <div class="step1 step-on">
    <p>1</p>
  </div>
  <div class="step2 step-人">
    <p>2</p>
  </div>
  <div class="step3 step-off">
    <p>3</p>
  </div>
</div>

<div class="big-icon-frame">
  <div class="step-icons-big">
    <div class="step1 step-on">
      <p>STEP1</p>
    </div>
    <div class="step2 step-off">
      <p>STEP2</p>
    </div>
    <div class="step3 step-off">
      <p>STEP3</p>
    </div>
  </div>
</div>
