body {
	background: none;
  padding: 15px;
  color: #333;
  padding-top: 40px;
}

h2 {
  margin-bottom: 15px;
}

.site_info {
	position: fixed;
	bottom: 20px; right: 20px;
	background-color: #ccc;
	border: 1px #ccc solid;
	padding: 10px;
}

.site_info_list {
	margin: 0;
}

/* admin list */
#admin_email {
	width: 60%;
}
