// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 420px) {

body {
	background-image: image-url('bg_1920X1280_174K.jpg');
	
}





input[type="checkbox"] {
	border: solid 2px #ff5d5d;
	background-color: yellow;
}




/* application */

nav #logo {
	font-size: 25px;
}

/* welcome#index */

#index-quote h4 {
	font-size: 30px;
}

#index-quote small{
	
	font-size: 15px;

	left: 170px;
}

#welcome-message {
	/*width: 500px;*/
	color: white;
}

#index-title {
	font-size: 60px;
}

#welcome-message h2 {
	font-size: 45px;
}

.action h5 {
	font-size: 25px;
	margin-bottom: 25px;
}





/* photos #new */



header h4 {
	font-size: 20px;
	text-shadow: 2px 3px 0 #000000;
}





.fileUpload {
  position: relative;
  overflow: hidden;
  width: 118px;
}

.fileUpload span {
	font-size: 12px;
}



/* photo #show */


.option-area .option {
	margin-left: 20px;
}

.photo_note {
	
   margin-left: 20px;
  /*padding-top: 30px;*/
  width: 280px;
  /*background-color: rgba(0,0,0,.3);*/
}


.photo_note .panel {
  width: 95%;
  height: 180px;
  
}






/* photo_asker #new */


/* --- fluid ---*/

}
