// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (max-width: 420px) {
	
	.flex {
		display: flex;
	}

	.block {
		display: block;
	}

	.hidden {
		display: none;
	}

	body {
		background-image: image-url('bg_16_9_66K.jpg');
		padding-top: 150px;
	}

	#main {
		display: block;
	}

	nav #logo {
		font-size: 20px;
	}

	nav #about {
		width: 83px; height: 32px;
		font-size: 15px;
	}

	/* welcome #index */

	#index-quote h4 {
		font-size: 20px;
	}

	#index-quote small{
		font-size: 15px;
		left: 80px;
	}

	#index-title {
		font-size: 40px;
	}

	#welcome-message h2 {
		font-size: 30px;
	}

	.action h5 {
		font-size: 20px;
	}

	.action .btn {
		width: 230px;
		height: 60px;
		font-size: 30px;
	}


	/* step-indicator*/

	.step-icons {
		display:flex;
		position: absolute;
		top: 75px;
		left: 0px;
		width: 100vw;
		bottom: auto;
	  align-items:center;
	  justify-content:center;
	}

	/* photos #new */

	header h4 {
		font-size: 15px;
	}

	.fileUpload {
		width: 170px; height: 60px;
	}

	.fileUpload span {
		font-size: 30px;
	}

	/* photos #show */
	.photo img {
		width: 100px;
		position: relative;
		top: -40px;
	}

	.radio label {
		font-size: 15px;
	}

	#create_note {
		width: 175px; height: 45px;
		font-size: 20px;
    line-height: 45px;
	}

	.photo_note {
		margin-left: 0px;
	}

	.photo_note .panel {
		width: 95%;
		height: 134px;
	}

	/* photo_asker #new */
	body#photo_askers-new {
		padding: 0;
	}

	body#photo_askers-new nav {
		display: none;
	}

	body#photo_askers-new .step-icons {
		display: none;
	}

	.option-area {
		display: block;
	}

	body#photo_askers-new .option-area .photo img {
		top: 0px;
		margin-bottom: 30px;
	}

	/* thanks */
	body#welcome-thanks header h4 {
		font-size: 30px;

	}

}
