// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: image-url('bg_white_16_9.jpg');
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	color: #431026;
	font-family: 'Arial';
	/*padding-top: 40px;*/
}

nav {
	height: 40px;
	font-size: 13px;
}

nav #about {
	position: absolute;
	top:15px; right: 15px;
	background-color: #f5a623;
	width: 70px; height: 25px;
  line-height: 25px;
	padding:0;
}

nav #logo {
	position: absolute;
	top: 15px; left: 22px;
	font-family: 'Arial Black';
	/*text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);*/
	font-weight: 900;
	color: #d23076;
	font-size: 20px;
}

nav a#logo:hover {
	text-decoration: none;
}

.container {
	height: 90vh;
	width: 100%;
}

#main {
	/*display:table-cell;*/
  /*vertical-align:middle;*/
  text-align:center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.hidden {
	display: none;
}

input[type="checkbox"] {
	position: relative;
	top: 4px;
	width: 18px;
	height: 18px;
}

img {
	border-radius: 8px;
}

/* action btn */

.action .btn {
	width: 230px;
	height: 60px;
	font-size: 30px;
	border-radius: 8px;
	font-weight: 800;
}

.btn-next {
	background-color: #d23076;
	color: white;
}

.btn-cancel {
	color: #717171;
	font-size: 18px;
	margin-left: 15px;
	display: none;
}

.btn-disable {
	background-color: #d8d8d8;
	color: white;
	pointer-events: none;
	width: 230px;
}

/* step-indicator*/

.big-icon-frame {
	display: none;
}

.step-icons-small {
	position: absolute;
	top: 63px;
	left: 0px;
	width: 100vw;
	display:flex;
  align-items:center;
  justify-content:center;
}

.step-icons-small div {
	width: 43px;
	height: 43px;
  margin: 0 15px;
	border-radius:99em;
	display:flex;
  align-items:center;
  justify-content:center;
}

.step-on {
	background-color: #ffffff;
}

.step-off {
	border: solid 2px #ffffff;
}

.step-icons-small p {
	font-family: 'Arial';
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	margin: 0;
}

.step-on p {
	color: #d23076;
}

/* welcome #index */

#index-quote {
	margin-top: 40px;
	margin-bottom: 30px;
}

#index-quote h4 {
	font-size: 18px;
	margin-bottom: 3px;
}

#index-quote small{
	font-family: 'Helvetica', 'Calibri Light', 'Arial';
	font-weight: 100;
	font-size: 13px;
	position: relative;
	left: 80px;
}

#index-title {
	font-family: 'Arial Black';
	font-size: 35px;
	color: #d23076;
	font-weight: bolder;
	/*text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);*/
	margin: 0.8em auto;
	margin-bottom: 0px;
}

#welcome-message h2 {
	margin-top: 0px;
	font-size: 25px;
	/*text-shadow: 2px 3px 0 #000000;*/
	font-weight: 900;
	margin-bottom: 30px;
}

.action h5 {
	font-size: 20px;
}

.cite_note {
	display: block;
	position: absolute;
	bottom: 75px;
	width: 100vw;
	left: 0;
}

.icon-border {
	width: 125px;
	height: 45px;
	border-radius: 100px;
	border: solid 1px #717171;
	display:flex;
  align-items:center;
  justify-content:center;
}

.app-logo {
	width: 26px; height: 28px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.icon-app {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon-app .words{
	width: 58px;
	height: 18px;
	font-family: 'Helvetica', 'Calibri Light', 'Arial';
	font-weight: 200;
	font-size: 13px;
	letter-spacing: -0.2px;
	text-align: center;
	color: #717171;
}

.apple {
	position: inherit;
	bottom: 17px; left: 30px;
}

.android {
	position: inherit;
	bottom: 17px; right: 30px;
}

/* photos #new */

header {
	margin-top: 86px;
}

header.narrow {
	margin-top: 19px;
}

header h3 {
	font-size: 25px;
	font-weight: 800;
	/*letter-spacing: -1px;*/
	/*text-shadow: 2px 3px 0 #000000;*/
}

header h4 {
	font-size: 18px;
  line-height: 135%;
  font-weight: 100;
}

.upload-area {
	margin-top: 7px; margin-bottom: 20px;
	width: 230px; height: 230px;
	border-radius: 4px;
	background-color: #d8d8d8;
	border: solid 1px #979797;
	display:flex;
  align-items:center;
  justify-content:center;
}

.fileUpload {
	width: 170px; height: 60px;
	padding:0;
}

.fileUpload span {
	font-size: 30px;
	font-weight: 800;
	position: relative;
	top: -64px; z-index: 1;
	line-height: 60px;
}

.fileUpload input.upload {
    position: relative; z-index: 100;
    width: 110%;
    height: 110%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.img-show {
	height: 230px;
	width: 230px;
	overflow: auto;
	margin-bottom: 22px;
}

body#photos-new .img-show img {
	height: 230px;
	width: auto;
}

/* photos #show */

body#photos-show .btn-next{
	position: inherit;
	bottom: 30px;
}

body#photos-show .photo {
  float: left;
  height: 230px;
}

body#photos-show .photo img {
	width: 100px;
	position: relative;
	top: 8px;
}

.radio {
	margin-top: 0;
}

.radio label {
	margin-left: 0px;
	font-size: 18px;
	margin-top: 0px;
}

.custom_opt {
	margin-bottom: 40px;
}

#create_note {
	width: 148px; height: 45px;
	font-size: 20px;
  line-height: 45px;
  margin-bottom: 73px;
}

.photo_note {
	display: none;
	position: inherit;
  top: 0;
  left: 0;
	margin-left: 0px;
}

.photo_note .panel {
	width: 95%;
	height: 134px;
  padding: 10px;
  color: #9b9b9b;
  margin-bottom: 12px;
}

.photo_note .cancel_note {
	color: white;
  float: right;
	font-size: 30px;
	font-weight: 900;
  padding: 0;
  margin: 0 auto;
}

.photo_note .cancel_note:hover {
	text-decoration: none;
}

#submit_note {
	margin-right: 8px;
	margin-bottom: 39px;
}


/* photo_asker #new */

body#photo_askers-new .photo {
	margin-top: 25px;
	margin-bottom: 25px;
  float: none;
  height: 120px;
  width: 100%;
  overflow: auto;
}

body#photo_askers-new img {
	height: 120px;
	width: auto;
}



input#asker_email {
	color: #717171;
	background-color: rgba(0%,0%,0%, 0);
	border: 0px;
	border-bottom: 2px solid #d23076;
	margin-bottom: 30px;
}

input#asker_email:-webkit-autofill {
	background-color: rgba(0%,0%,0%, 0) !important;
}

.option-area {
	display: block;
}

body#photo_askers-new .option-area .photo img {
	top: 0px;
	margin-bottom: 30px;
}

/* thanks */
body#welcome-thanks header h4 {
	font-size: 25px;
	font-weight: 800;
	/*text-shadow: 2px 3px 0 #000000;*/
}

/* about */

.about_modal {
	position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel_btn {
  position: absolute;
  top: 8%;
  right: 2%;
  color: #333;
  font-size: 26px;
  font-weight: 900;
}

.about_modal .about_panel {
  overflow: scroll;
	padding: 20px 15px ;
  margin: 0 auto;
  width: 90%;
  height: 80%;
  background-color: #fff;
}

