// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 420px) {

body {
	background-image: image-url('bg_white_1920X1280.jpg');
}

nav {
	height: 80px;
}

.container {
	height: 85vh;
	width: 100%;
}

/* action btn */

.action .btn {
	width: 250px;
	height: 60px;
	font-size: 30px;
	font-weight: 800;
}

.btn-disable {
	background-color: #ff5d5d;
	opacity: 0.4;
  filter: alpha(opacity=40);
}

/* step-indicator*/

.step-icons-small {
	display: none;
}

.big-icon-frame {
	position: absolute;
	top: 63px;
	left: 0px;
	width: 100vw;
	/*position: fixed;
	top: 0;
	left: 80px;
	height: 100%;
	width: 80px;*/
	display:flex;
  align-items:center;
  justify-content:center;
}

.step-icons-big div {
	float: left;
  margin: 0 15px;
	width: 60px;
	height: 60px;
  /*margin: 20px 15px;*/
	border-radius:99em;
	display:flex;
  align-items:center;
  justify-content:center;
}

.step-icons-big p {
	font-family: 'Arial';
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	margin: 0;
}

.step-off {
   border: solid 3px #ffffff;
}

/* welcome#index */

header {
	margin-top: 90px;
}

#index-quote h4 {
	font-size: 30px;
}

#index-quote small{
	font-size: 15px;
	left: 170px;
}

#welcome-message {
	/*width: 500px;*/
	color: white;
}

#index-title {
	font-size: 65px;
}

#welcome-message h2 {
	font-size: 50px;
	color: #431026;
}

.action h5 {
	font-size: 25px;
	margin-bottom: 15px;
}

.icon {
	margin-bottom: 5px;
}

.icon-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apple {
	position: relative;
	left: -6px;
}

.android {
	position: relative;
	right: -6px;
}

/* photos #new */

.fileUpload {
  position: relative;
  overflow: hidden;
  width: 118px;
  height: 35px;
}

.fileUpload span {
	font-size: 12px;
	top: -50px;
}

/* photo #show */

.photo {
  height: 230px;
  /*width: 40%;*/
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.photo img {
	display: block !important ;
  margin-right: 30px;
	height: 230px;
	width: auto !important ;
}

body#photos-show .frame {
	/*width: 60%;*/
  height: 230px;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  margin-left: 0;
}

.option-area {
	display: flex;
}

.option-area .option {
	margin-left: 36px;
}

body#photos-show label {
	padding-left: 0px;
}

#create_note {
	width: 183px;
}

body#photos-show .photo_note {
  width: 320px;
}

body#photos-show .cancel_note {
	position: relative;
	left: 15px;
	top: 10px;
}
body#photos-show .photo_note .panel {
  height: 230px;
  width: 320px;
}

body#photos-show #submit_note {
	position: relative;
	top: -8px;
}

body#photos-show .action {
	margin-top: 55px;
}

/* photo_asker #new */

body#photo_askers-new .photo {
	width: auto;
	height: 230px;
	overflow: auto;
}

body#photo_askers-new img {
	margin: 0px !important ;
	width: auto;
	height: 230px;
}
input#asker_email {
	width: 230px;
}

body#photo_askers-new .option {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* about */

/*.about_modal {
  padding-top: 46%;
}

.cancel_btn {
  right: 10%;
}

.about_modal .about_panel {
	font-size: 25px;
	padding: 15px ;
}*/


}
