/* welcome #index */

#index-quote {
  margin-top: 30px;
  margin-bottom: 20px;
}

#index-quote h4 {
  font-size: 18px;
  margin-bottom: 3px;
}

#index-quote small{
  font-family: 'Helvetica', 'Calibri Light', 'Arial';
  font-weight: 100;
  font-size: 13px;
  position: relative;
  left: 80px;
}

#index-title {
  font-family: 'Arial Black', 'Tahoma', 'Calibri Light';
  font-size: 35px;
  color: #d23076;
  font-weight: bolder;
  margin: 0.8em auto;
  margin-bottom: 0px;
  text-shadow: 2px 2px 0 rgba(67, 16, 38, 0.4);
}

#welcome-message h2 {
  margin-top: 3px;
  font-size: 25px;
  /*text-shadow: 2px 3px 0 #000000;*/
  font-weight: 900;
  margin-bottom: 23px;
}

#welcome-message h3 {
  font-size: 20px;
  font-weight: 600;
  color: #431026;
  margin-top: 0px;
}

/* step- introduction */

#step-introduction {
  padding: 20px;
  width: 100vw;
  background-color: rgba(67, 16, 38, 0.1);
}

body#welcome-index .step-icons-all {
  display: flex;
  justify-content: center;
}

#step-introduction h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.step-icons-all .step-icon {
  background-color: #fff;
  width: 43px;
  height: 43px;
  margin: 10px 15px;
  border-radius:99em;
  display:flex;
  align-items:center;
  justify-content:center;
}

.step-icon span {
  color: #d23076;
  font-family: 'Arial';
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

/* email bar */

.info-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-info {
  width: 250px;
  text-align: left;
}

.service-info h3 {
  color: #717171;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 0px;
}

.service-info h4 {
  color: black;
  font-size: 13px;
  font-weight: 600;
  margin: 3px 0;
}

.service-info p {
  color: #717171;
  font-size: 13px;
  margin-bottom: 10px
}