<section class="icon-area">
	<div class="cite_note">
		用現有的衣服就能讓穿搭天天都不無聊<br>
	應用程式即將上線　敬請期待
	</div>

	<div class="icon-app">
		<div class="apple icon-border">
			<%= image_tag image_url('apple.png'), class: "app-logo" %>
			<span class="words">Apple iOS</span>
		</div>
		<div class="line"></div>
		<div class="android icon-border">
			<%= image_tag image_url('android.png'), class: "app-logo" %>
			<span class="words">Android</span>
		</div>
	</div>
</section>
